.remark-item-content-right {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* margin-bottom: 15px; */
  padding: 5px;
  word-break: break-all;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.remark-file-right {
  min-height: 60px;
  display: flex;
  align-items: center;
}
video {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
.file-icon-right {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.file-icon-right.pdf {
  background-image: url(../../../assets/picture/pdf.png);
}
.file-icon-right.word {
  background-image: url(../../../assets/picture/word.png);
}
.file-icon-right.file {
  background-image: url(../../../assets/picture/file.png);
}
.download-text-right {
  text-decoration: none;
  text-align: left;
  float: left;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-image: url(../../../assets/picture/download.png);
  background-size: 12px 11px;
  cursor: pointer;
  font-family: Inter-Bold;
  line-height: 24px;
  color: #15c39a;
}
.file-name-right {
  font-size: 10px;
  font-family: Inter-Bold;
  line-height: 24px;
  color: #000000;
  word-break: break-word;
  text-align: left;
  width: 100%;
}