body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}
ul,li{
  list-style: none;
}
*{
  outline: none;
}

html, button, input, select, textarea {
    font-family: ProximaNovaSoft-Medium, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #7a9494;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  overflow: auto;
  background-color: #F4F4F4;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

/*显示文字*/
.metrial .el-switch__label {
  color: #fff
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.transformmask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.fullbgimg{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
}
::-webkit-scrollbar {
    display: none;
}
.transparent-content{
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.no-border{
  border: 1px solid rgba(236, 236, 236, 1);
}
.no-padding{
  margin-top: 50px !important;
}
.no-padding >.el-dialog__header{
  display: none !important;
}
.no-padding >.el-dialog__body{
  padding: 0 !important;
}
.custom-dialog.el-dialog {
  margin: 50px auto 0 !important;
  max-width: 900px;
}
.el-dialog__header {
}
.el-dialog{
  box-shadow: none !important
}
.common-close-btn{
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url(../picture/close_icon.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

.auto-left-radio{
  width: 100%;
}

.audio-line{
  background-color: #9fd6ba;
  width: 100%;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animation-line>div:nth-of-type(1){
  width: 3px;
  height: 5px;
  background-color: red;
  animation-delay: .4s;/*动画延迟  */
}
.animation-line>div:nth-of-type(2){
  width: 3px;
  height:10px;
  background-color: red;
  animation-delay: .8s;
}
.animation-line>div:nth-of-type(3){
  width: 4px;
  height: 15px;
  background-color: red;
  animation-delay: .1s;
}
.animation-line>div:nth-of-type(4){
  width: 3px;
  height: 10px;
  background-color: red;
  animation-delay: .8s;
}
.animation-line>div:nth-of-type(5){
  width: 3px;
  height: 5px;
  background-color: red;
  animation-delay: .4s;
}
.animation-line>div{/* 动画统一属性 */
  margin:0 2px;
  border-radius: 7px;
  transform: all .5s;
  animation-duration: .7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  animation-fill-mode:both;
}
.animation-line.paused>div{/* 动画统一属性 */
  animation-play-state: paused;
}
.audio-play{
  animation-name: playing;/*单独类名方便统一控制动画 */
}
@keyframes playing{/* 规则 */
  from{
     transform: scale(1);
  }
  to{
     transform: scale(0);

  }
}
.cursor{
  cursor: pointer;
}
.rabox{
  width: 100%;
  text-align: left;
  word-break: break-word !important;
  display: block !important;
  white-space: normal !important;
  line-height: 30px !important;
  padding: 10px 10px !important;
}
.rabox .el-checkbox__label {
  display: inline !important
}
.el-input__icon{
  display: none !important;
}
.scale-animation{
  position:relative;
  animation:mymove 4s infinite;
  -webkit-animation:mymove 4s infinite; /*Safari and Chrome*/
  animation-direction:alternate;/*轮流反向播放动画。*/
  animation-timing-function: ease-in-out; /*动画的速度曲线*/
  /* Safari 和 Chrome */
  -webkit-animation:mymove 4s infinite;
  -webkit-animation-direction:alternate;/*轮流反向播放动画。*/
  -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
}
@keyframes mymove
{
  0%{
  transform: scale(1);  /*开始为原始大小*/
  }
  25%{
      transform: scale(0.75); /*放大1.1倍*/
  }
  50%{
      transform: scale(1);
  }
  75%{
      transform: scale(0.75);
  }

}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
  0%{
  transform: scale(1);  /*开始为原始大小*/
  }
  25%{
      transform: scale(0.75); /*放大1.1倍*/
  }
  50%{
      transform: scale(1);
  }
  75%{
      transform: scale(0.75);
  }
}
.metarialnums{
  padding: 0 5px;
  position: absolute;
  top: -4px;
  background-color: #FF1A0E;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
}

//匿名登录页面下拉选项字体颜色
.el-select-dropdown__item.selected {
  color: #15c39a;
}

.my-login-input .el-input__icon {
  display: inline-block !important;
}

.allocate-time .el-alert {
  padding: 8px 16px 6px 0;
}
.pptTypeIcon{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
}
.commonshadow{
  box-shadow: 0px 1px 3px 3px rgb(14 122 231);
  border-radius: 8px;
}
.boldText{
  font-weight: bolder;
}